apipkg==1.5
appdirs==1.4.4
argon2-cffi==21.2.0
argon2-cffi-bindings==21.2.0
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
devpi-common==3.6.0
devpi-server==5.5.1
execnet==1.8.0
hupper==1.10.2
idna==2.10
itsdangerous==1.1.0
lazy==1.4
passlib==1.7.4
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyramid==1.10.8
python-dateutil==2.8.1
repoze.lru==0.7
requests==2.25.1
ruamel.yaml==0.17.2
ruamel.yaml.clib==0.2.2
six==1.15.0
strictyaml==1.4.0
translationstring==1.4
urllib3==1.26.4
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.3.0
